

    body{
        background-image: url('IMG_20181121_221103.jpg');
        background-color: black;
        background-size:100%;
        background-repeat: no-repeat;
        text-align: center;
        margin-left: 400px;
        margin-right: 500px;
        border: 200px;
    }
.example{

    margin-left: 600px;
    background-color: blueviolet;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    
    
}